:root {
    --background: #FFF6EE;
    --main-font: #632B6A;
    --button-color: #BF5A36;
    --button-font-color: #FFF6EE;
    --heading-text-size: 1.8rem;
    --body-text-size: 1rem;
}

body {
    background: var(--background);
}


/*********** HERO SECTION ***********/

.header-content {
    z-index: 99;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #FFF6EE70; /* adds opacity to the background color*/
}

.logo {
    width: 7rem;
    margin: 1rem auto;
}

.img-wrapper {
    margin: 0 auto;
    padding: 0;
}

/* Navigation */

nav {
    display: none;
}

.nav-toggle {
    /* Hides the checkbox input */
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem 1.5rem;
    height: 100%;
}

.nav-toggle:checked ~ nav {
    display: block;
    
}

nav ul li{
    margin: .8rem 0;
}

nav a {
    text-decoration: none;
    color: var(--main-font);
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font: .8rem;
}


.fa-solid {
    color: var(--main-font);
}

/* Hero Banner Content */

/* Positions text over image */
.img-wrapper{
    position: relative;
}

.hero-banner {
    width: 85%;
    position: absolute;
    top: 42%;
    margin-left: 2.5rem;
    padding: 1.2rem;
    background: #FFF6EE70;
    border: none;
    border-radius: 20px;
}

h1 {
    font-family: bely,serif;
    font-weight: 700;
    font-style: normal;
    color: var(--main-font);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

p {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: var(--main-font);
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

button {
    width: 150px;
    height: 50px;
    background-color: var(--button-color);
    border: none;
    border-radius: 20px;
    color: var(--button-font-color);
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Social Media Icons */

.fa-brands {
    color: var(--button-color);
    font-size: 1.5rem;
    padding-right: 1.5rem;
}

/*********** MENU SECTION ***********/
.menu-container  {
    width: 100%;
    margin: auto; 
}

.img-wrapper {
    width: 90%;
}

.menu-img {
    width: 100%;
    object-fit: cover;
}


@media only screen and (min-width: 600px) {
    body {
        display: none;
        /* background-color: #FFF6EE; */
    }
}

@media only screen and (min-width: 1280px) {
    body {
        display: none;
        /* background-color: #FFF6EE; */
    }
}