:root {
    --background: #FFF6EE;
    --main-font: #632B6A;
    --button-color: #BF5A36;
    --button-font-color: #FFF6EE;
}

body {
    background: var(--background);
}

.container {
    margin: 0;
    padding: 0;
}

.header-content {
    z-index: 99;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    width: 7rem;
    margin: 1rem auto;
}

.img-wrapper {
    margin: 0 auto;
    padding: 0;
}



nav ul li{
    margin: .8rem 0;
}

nav a {
    text-decoration: none;
    color: var(--main-font);
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font: .8rem;
}


@media only screen and (min-width: 600px) {
    body {
        display: none;
        /* background-color: #FFF6EE; */
    }
}

@media only screen and (min-width: 1280px) {
    body {
        display: none;
        /* background-color: #FFF6EE; */
    }
}